<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let i of [1, 2, 3, 4, 5]" class="welcome-card">
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <ion-thumbnail>
                    <img src="/assets/shapes.svg">
                  </ion-thumbnail>
                </ion-col>
                <ion-col size="9">
                  <ion-card-title style="text-align: center">Welcome to {{i}}</ion-card-title>
                </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
